@import "../../assets/styles/config";

.CustomTextArea {
  width: 80%;
  margin: 1rem auto 0;

  .CustomTextAreaInput {
    margin-top: 1rem;
    color: $primary_text_color;
    background: $primary_background;
    display: block;
    border-bottom: solid 1px $primary_purple;
    padding-left: 0.5rem;
    width: 100%;
  }

  label.CustomTextAreaLabel {
    font-size: 0.7rem;
    font-weight: normal;
    pointer-events: none;
  }
}
